// CSS3 PROPERTIES
// --------------------------------------------------

// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// Single Corner Border Radius
@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
      -moz-border-radius-topleft: $radius;
          border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
      -moz-border-radius-topright: $radius;
          border-top-right-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
      -moz-border-radius-bottomright: $radius;
          border-bottom-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
      -moz-border-radius-bottomleft: $radius;
          border-bottom-left-radius: $radius;
}

// Single Side Border Radius
@mixin border-top-radius($radius) {
  @include border-top-right-radius($radius);
  @include border-top-left-radius($radius);
}
@mixin border-right-radius($radius) {
  @include border-top-right-radius($radius);
  @include border-bottom-right-radius($radius);
}
@mixin border-bottom-radius($radius) {
  @include border-bottom-right-radius($radius);
  @include border-bottom-left-radius($radius);
}
@mixin border-left-radius($radius) {
  @include border-top-left-radius($radius);
  @include border-bottom-left-radius($radius);
}



// Buttons
// -------------------------


$white: #fff;
$brand-link-color: $brand-color;
$brand-alt-color: darken($brand-color, 10%);
$orange: orange;
 $grayDarker: gray;
// TODO: TEMP
$brand-btn-color: #edeceb;


$brand-info-background-color: #d9edf7;
$brand-info-color: #3a87ad;
$brand-info-border-color: darken(adjust-hue($brand-info-background-color, -10), 7%);

$brand-success-color:				#468847;
$brand-success-background-color:			#dff0d8;
$brand-success-border-color:			darken(adjust-hue($brand-success-background-color, -10), 5%);

$brand-warning-color:					#c09853;
$brand-warning-background-color:			#fcf8e3;
$brand-warning-border-color:				darken(adjust-hue($brand-warning-background-color, -10), 3%);

$brand-danger-color:					#b94a48;
$brand-danger-background-color:			#f2dede;
$brand-danger-border-color:				darken(adjust-hue($brand-danger-background-color, -10), 3%);




$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #bbb !default;

$btnPrimaryBackground:              $brand-link-color !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;




// TODO: Optimise
@mixin button-gradient($basecolour){
	$highlight: lighten($basecolour, 3%);
	$lowlight: darken($basecolour, 3%);
	background-color: $basecolour; /* Old browsers */
	background-image: -moz-linear-gradient(top, $highlight 0%, $highlight 50%, $lowlight 50%, $lowlight 100%); // FF3.6+
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$highlight), color-stop(50%,$highlight), color-stop(50%,$lowlight), color-stop(100%,$lowlight)); // Chrome,Safari4+
	background-image: -webkit-linear-gradient(top, $highlight 0%,$highlight 50%,$lowlight 50%,$lowlight 100%); // Chrome10+,Safari5.1+
	background-image: -o-linear-gradient(top, $highlight 0%,$highlight 50%,$lowlight 50%,$lowlight 100%); // Opera 11.10+
	background-image: linear-gradient(top, $highlight 0%,$highlight 50%,$lowlight 50%,$lowlight 100%); // W3C
}

// Gradients
 @mixin gradient-vertical($start-color, $end-color) {
	background-color: mix($start-color, $end-color, 60%);
	background-image: -moz-linear-gradient(top, $start-color, $end-color); // FF 3.6+
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
	background-image: -webkit-linear-gradient(top, $start-color, $end-color); // Safari 5.1+, Chrome 10+
	background-image: -o-linear-gradient(top, $start-color, $end-color); // Opera 11.10
	background-image: linear-gradient(to bottom, $start-color, $end-color); // Standard, IE10
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
  }




/*------------------------------------*\
	$BUTTONS-THEME
\*------------------------------------*/
/**
 * Button theme styling.
 * 
 */


 // TODO: sort btn color consistancy with, eg. alerts and each other. and decide on if we are using the  mixin or not
 .btn {
	@include border-radius($brand-round);
	@include button-gradient($brand-btn-color);
	border: 1px solid rgba(0, 0, 0, 0.15);
	color: black;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
	
	&:hover {
		@include button-gradient(darken($brand-btn-color, 15%));
	}

	&:active {
		@include button-gradient(darken($brand-btn-color, 40));
	}

}


.btn--primary {
	@include button-gradient($brand-color);
	color: white;

	&:hover {
		@include button-gradient(darken($brand-color, 15%));
	}

	&:active {
		@include button-gradient(darken($brand-color, 20%));
	}

}

.btn--info {
	@include button-gradient(darken($brand-info-background-color, 40%));
	color: white;

	&:hover {
		@include button-gradient(darken($brand-info-background-color, 60%));
	}

	&:active {
		@include button-gradient(darken($brand-info-background-color, 65%));
	}

}

.btn--success {
	@include button-gradient(darken($brand-success-background-color, 40%));
	color: white;

	&:hover {
		@include button-gradient(darken($brand-success-background-color, 60%));
	}

	&:active {
		@include button-gradient(darken($brand-success-background-color, 65%));
	}

}

.btn--warning {
	background: orange;
	color: white;

	&:hover {
		@include button-gradient(darken($brand-warning-background-color, 60%));
	}

	&:active {
		@include button-gradient(darken($brand-warning-background-color, 65%));
	}

}

.btn--danger {
	background: red;
	color: white;

	&:hover {
		@include button-gradient(darken($brand-danger-background-color, 60%));
	}

	&:active {
		@include button-gradient(darken($brand-danger-background-color, 65%));
	}

}